@page "/"
@using BitzArt.Blazor.Cookies
@using Layout
@using OMSBlazor.Client.Themes
@layout HomeLayout
@implements IDisposable
@inject PersistentComponentState ApplicationState
@inject ICookieService CookieService

<MudThemeProvider Theme="Theme" IsDarkMode="@IsDarkMode" />

<div class="d-flex flex-column background">

    <MudIconButton Class="mr-1 mt-1 align-self-end" Icon="@(DarkLightModeButtonIcon)" Color="MudBlazor.Color.Inherit" OnClick="@DarkModeSwitched" />

    <div class="d-flex flex-column mx-10 mb-10 gap-5">

        <div class="d-flex flex-column flex-md-row">
            <div class="d-flex flex-column justify-center flex-grow-1">
                <MudText Class="titel-text " Typo="Typo.h1">
                    <p class="d-flex d-sm-none" style="font-size: 2.25rem">Create, store, analyze, track, and complete your</p>
                    <p class="d-none d-sm-flex" style="font-size: 3.25rem">Create, store, analyze, track, and complete your</p>
                </MudText>
                <MudText Class="titel-text" Typo="Typo.h1">
                    <p class="d-flex d-sm-none" style="font-size: 2.25rem">Orders</p>
                    <p class="d-none d-sm-flex" style="font-size: 3.25rem">Orders</p>
                </MudText>
                <MudText Class="titel-text" Typo="Typo.h1">
                    <p class="d-flex d-sm-none" style="font-size: 2.25rem">better with</p>
                    <p class="d-none d-sm-flex" style="font-size: 3.25rem">better with</p>
                </MudText>
                <MudText Class="titel-text" Typo="Typo.h1">
                    <p class="d-flex d-sm-none gradient" style="font-size: 2.25rem">Order Managment System</p>
                    <p class="d-none d-sm-flex gradient" style="font-size: 3.25rem">Order Managment System</p>
                </MudText>
                <MudText Class="mt-4 content-text">
                    This site does not claim to be a model of a real system. This is a sample of our development with your requirements, this will turn into it
                </MudText>
                <div class="d-flex d-sm-none justify-center flex-wrap flex-row mt-4 gap-2">
                    <MudButton Href="/orders"
                               Variant="Variant.Filled"
                               Color="MudBlazor.Color.Primary"
                               Size="MudBlazor.Size.Medium">
                        Get started
                    </MudButton>
                    <MudButton Href="https://github.com/SergeyDavidovich/OMSBlazor"
                               Target="_blank"
                               Variant="Variant.Outlined"
                               Size="MudBlazor.Size.Medium"
                               EndIcon="@Icons.Custom.Brands.GitHub">
                        GitHub Link
                    </MudButton>
                    <MudButton Href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
                               Target="_blank"
                               Variant="Variant.Outlined"
                               Size="MudBlazor.Size.Medium"
                               EndIcon="@Icons.Custom.Brands.Microsoft">
                        Blazor
                    </MudButton>
                </div>
                <div class="d-none d-sm-flex flex-row mt-4 gap-2">
                    <MudButton Href="/orders"
                               Variant="Variant.Filled"
                               Color="MudBlazor.Color.Primary"
                               Size="MudBlazor.Size.Large">
                        Get started
                    </MudButton>
                    <MudButton Href="https://github.com/SergeyDavidovich/OMSBlazor"
                               Target="_blank"
                               Variant="Variant.Outlined"
                               Size="MudBlazor.Size.Large"
                               EndIcon="@Icons.Custom.Brands.GitHub">
                        GitHub Link
                    </MudButton>
                    <MudButton Href="https://dotnet.microsoft.com/en-us/apps/aspnet/web-apps/blazor"
                               Target="_blank"
                               Variant="Variant.Outlined"
                               Size="MudBlazor.Size.Large"
                               EndIcon="@Icons.Custom.Brands.Microsoft">
                        Blazor
                    </MudButton>
                </div>
            </div>
            <div class="flex-grow-1">
                <MudImage Src="Images/CoverPageImage.svg" Fluid="true" Class="rounded-lg" />
            </div>
        </div>

        <div class="d-flex flex-column flex-md-row gap-2">
            <div class="flex-md-grow-1">
                <div style="height:100%">
                    <MudCard Elevation="3" Style="height: 100%">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <div class="d-flex flex-column align-center">
                                    <MudIcon Icon="@Icons.Material.Rounded.Timeline" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Large"></MudIcon>
                                    <MudText Typo="Typo.h6" Class="titel-text">Real-time</MudText>
                                </div>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Align="MudBlazor.Align.Center" Class="content-text">
                                This application works in real-time. That means that all the changes that occur on another instance of this application
                                make changes on your application.
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </div>
            </div>
            <div class="flex-md-grow-1">
                <div style="height:100%">
                    <MudCard Elevation="3" Style="height: 100%">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <div class="d-flex flex-column align-center">
                                    <MudIcon Icon="@Icons.Material.Rounded.DesktopWindows" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"></MudIcon>
                                    <MudText Typo="Typo.h6" Class="titel-text">Run anywhere</MudText>
                                </div>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Align="MudBlazor.Align.Center" Class="content-text">
                                This application is adapted to work on desktop as well as on mobile phone. So fill free to open this app on smartphone too
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </div>
            </div>
            <div class="flex-md-grow-1">
                <div style="height:100%">
                    <MudCard Style="height:100%" Elevation="3">
                        <MudCardHeader>
                            <CardHeaderContent>
                                <div class="d-flex flex-column align-center">
                                    <MudIcon Icon="@Icons.Material.Rounded.Login" Color="MudBlazor.Color.Secondary" Size="MudBlazor.Size.Large"></MudIcon>
                                    <MudText Typo="Typo.h6" Class="titel-text">Protect your data</MudText>
                                </div>
                            </CardHeaderContent>
                        </MudCardHeader>
                        <MudCardContent>
                            <MudText Align="MudBlazor.Align.Center" Class="content-text">
                                Your data and your progress is under protection of the authentication system. Be sure that only you are able to have access to your progress
                            </MudText>
                        </MudCardContent>
                    </MudCard>
                </div>
            </div>
        </div>

        <div class="d-flex flex-column justify-center">
            <MudText Typo="Typo.h4" Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none">
                Powered by
            </MudText>
            <HomeCarousel Class="d-none d-sm-flex justify-center mr-6 mt-5 mud-width-full" Style="height: 120px"></HomeCarousel>
            <HomeCarousel Class="d-flex d-sm-none justify-center mr-6 mt-5 mud-width-full" Style="height: 290px"></HomeCarousel>
        </div>

        <div>
            <MudPaper Class="pa-md-5 mx-md-5 pa-2" Width="100%" Style="background: linear-gradient(128.87deg,#d600aa 14.05%,#cb4150 89.3%);">
                <div class="d-flex flex-row justify-space-around">
                    <MudText Typo="Typo.h4" Class="titel-text" Style="color:white;">
                        <p class="d-flex d-sm-none" style="font-size: 1.25rem">Want to contact us?</p>
                        <p class="d-none d-sm-flex">Want to contact us?</p>
                    </MudText>
                    <div class="d-flex gap-1 flex-column justify-center">
                        <MudText Class="content-text" Style="color:white;">
                            <p class="d-flex d-sm-none">writesd@hotmail.com</p>
                            <p class="d-none d-sm-flex">writesd@hotmail.com</p>
                        </MudText>
                    </div>
                </div>
            </MudPaper>
        </div>
    </div>
</div>

<style>
    .gradient {
        -webkit-background-clip: text !important;
        -webkit-text-fill-color: transparent;
        background: linear-gradient(128.87deg,#d600aa 14.05%,#cb4150 89.3%);
    }

    .background {
        background-image: url(../Images/Background-waves.svg);
        background-repeat: no-repeat;
        background-position: bottom;
        background-size: auto;
    }

    .titel-text {
        font-weight: 700;
        font-family: 'Space Grotesk';
        font-style: normal;
        text-transform: none;
    }

    .content-text {
        font-family: 'Open Sans';
        font-style: normal;
        font-weight: 600;
        text-transform: none;
    }
</style>

@code {
    private PersistingComponentStateSubscription persistingSubscription;
    private MudTheme Theme = MyCustomTheme.MudTheme;

    protected async override Task OnInitializedAsync()
    {
        persistingSubscription = ApplicationState.RegisterOnPersisting(PersistIsDarkMode);

        if (!ApplicationState.TryTakeFromJson<bool>("IsDarkMode", out var isDarkMode))
        {
            var cookie = await CookieService.GetAsync("IsDarkMode");
            if (cookie is null)
            {
                IsDarkMode = false;
            }
            else
            {
                IsDarkMode = bool.Parse(cookie.Value);
            }
        }
        else
        {
            IsDarkMode = isDarkMode;
        }
    }

    private Task PersistIsDarkMode()
    {
        ApplicationState.PersistAsJson("IsDarkMode", IsDarkMode);

        return Task.CompletedTask;
    }

    public string DarkLightModeButtonIcon => IsDarkMode switch
    {
        true => Icons.Material.Rounded.DarkMode,
        false => Icons.Material.Outlined.LightMode,
    };

    private bool IsDarkMode { get; set; }

    private async Task DarkModeSwitched(MouseEventArgs args)
    {
        IsDarkMode = !IsDarkMode;
        await CookieService.SetAsync("IsDarkMode", IsDarkMode.ToString(), new DateTimeOffset(DateTime.MaxValue));
    }

    public void Dispose()
    {
        persistingSubscription.Dispose();
    }
}
