@page "/"

<MudThemeProvider IsDarkMode="@IsDarkMode" Theme="MyCustomTheme" />

<MudGrid Class="pa-15 background">
    <MudItem xs="12">
        <MudIconButton Icon="@(DarkLightModeButtonIcon)" Color="MudBlazor.Color.Inherit" OnClick="@DarkModeSwitched" />
    </MudItem>
    <MudItem xs="12" md="6" Class="mb-5">
        <MudText Class="mt-10" Style="font-style: normal; text-transform: none;" Typo="Typo.h3">
            Create, store, analyze, track, and complete your
        </MudText>
        <MudText Typo="Typo.h3" Style="-webkit-background-clip: text !important; -webkit-text-fill-color: transparent; background: linear-gradient(128.87deg,#d600aa 14.05%,#cb4150 89.3%);font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none;">
            Orders
        </MudText>
        <MudText Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none;" Typo="Typo.h3">
            better with
        </MudText>
        <MudText Typo="Typo.h3" Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none">
            Order Managment System
        </MudText>
        <MudText Class="mt-4" Style="font-family: 'Open Sans'; font-style: normal; font-weight: 600; text-transform: none;">
            This site does not claim to be a model of a real system. This is a sample of our development, With your requirements, this will turn into it
        </MudText>
        <div class="d-flex flex-row mt-4 gap-2">
            <MudButton Href="/orders"
                       Variant="Variant.Filled"
                       Color="MudBlazor.Color.Primary"
                       Size="MudBlazor.Size.Large">
                Create your first order
            </MudButton>
            <MudButton Href="https://github.com/SergeyDavidovich/OMSBlazor"
                       Target="_blank"
                       Variant="Variant.Outlined"
                       Size="MudBlazor.Size.Large"
                       EndIcon="@Icons.Custom.Brands.GitHub">
                GitHub Link
            </MudButton>
        </div>
    </MudItem>
    <MudItem xs="12" md="6" Class="d-flex justify-center align-center mb-5">
        <MudImage Src="Images/CoverPageImage.svg" Fluid="true" Class="rounded-lg ma-10" />
    </MudItem>
    <MudItem xs="12" md="4" Class="mud-theme-secondary pb-6">
        <div class="mr-6" style="height:100%">
            <MudCard Elevation="3" Style="height: 100%">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div class="d-flex flex-column align-center">
                            <MudIcon Icon="@Icons.Material.Rounded.Timeline" Color="MudBlazor.Color.Info" Size="MudBlazor.Size.Large"></MudIcon>
                            <MudText Typo="Typo.h6" Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none">Real-time</MudText>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Align="MudBlazor.Align.Center" Style="font-family: 'Open Sans'; font-style: normal; font-weight: 600; text-transform: none;">
                        This application works in real-time. That means that all the changes that occur on another instance of this application
                        make changes on your application.
                    </MudText>
                </MudCardContent>
            </MudCard>
        </div>
    </MudItem>
    <MudItem xs="12" md="4" Class="mud-theme-secondary pb-6">
        <div class="mr-6" style="height:100%">
            <MudCard Elevation="3" Style="height: 100%">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div class="d-flex flex-column align-center">
                            <MudIcon Icon="@Icons.Material.Rounded.DesktopWindows" Color="MudBlazor.Color.Primary" Size="MudBlazor.Size.Large"></MudIcon>
                            <MudText Typo="Typo.h6" Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none">Run anywhere</MudText>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Align="MudBlazor.Align.Center" Style="font-family: 'Open Sans'; font-style: normal; font-weight: 600; text-transform: none;">
                        This application is adapted to work on desktop as well as on mobile phone. So fill free to open this app on smartphone too
                    </MudText>
                </MudCardContent>
            </MudCard>
        </div>
    </MudItem>
    <MudItem xs="12" md="4" Class="mud-theme-secondary pb-6">
        <div class="mr-6" style="height:100%">
            <MudCard Style="height:100%" Elevation="3">
                <MudCardHeader>
                    <CardHeaderContent>
                        <div class="d-flex flex-column align-center">
                            <MudIcon Icon="@Icons.Material.Rounded.Login" Color="MudBlazor.Color.Secondary" Size="MudBlazor.Size.Large"></MudIcon>
                            <MudText Typo="Typo.h6" Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none">Protect your data</MudText>
                        </div>
                    </CardHeaderContent>
                </MudCardHeader>
                <MudCardContent>
                    <MudText Align="MudBlazor.Align.Center" Style="font-family: 'Open Sans'; font-style: normal; font-weight: 600; text-transform: none;">
                        Your data and your progress is under protection of the authentication system. Be sure that only you are able to have access to your progress
                    </MudText>
                </MudCardContent>
            </MudCard>
        </div>
    </MudItem>
    <MudItem xs="12">
        <MudText Typo="Typo.h4" Class="ml-6" Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none">
            Powered by
        </MudText>
        <MudCarousel TData="object" Style="height:200px;" Class="ml-6 mr-6 mt-5 mud-width-full" ShowBullets="false" EnableSwipeGesture="true" ShowArrows="false" AutoCycle="true">
            <MudCarouselItem Style="height:100%" Transition="Transition.Fade">
                <div class="d-flex flex-row gap-9 ma-5 align-center">
                    <MudImage Src="Images/abp-logo.png" Height="100" Width="100" />
                    <div class="d-flex flex-column">
                        <MudText Typo="Typo.h6" Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none">ABP</MudText>
                        <MudText Typo="Typo.body1">
                            ABP Framework is a complete infrastructure for creating software solutions with modern architectures based on the ASP.NET Core platform.
                        </MudText>
                    </div>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="height: 100%" Transition="Transition.Fade">
                <div class="d-flex flex-row gap-9 ma-5 align-center">
                    <MudImage Src="Images/reactiveui.png" Height="100" Width="100" />
                    <div class="d-flex flex-column">
                        <MudText Typo="Typo.h6" Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none">ReactiveUI</MudText>
                        <MudText Typo="Typo.body1">An advanced, composable, functional reactive model-view-viewmodel framework for all .NET platforms!</MudText>
                    </div>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="height: 100%" Transition="Transition.Fade">
                <div class="d-flex flex-row gap-9 ma-5 align-center">
                    <MudImage Src="Images/apexcharts.png" Height="100" Width="100" />
                    <div class="d-flex flex-column">
                        <MudText Typo="Typo.h6" Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none">Apex Charts</MudText>
                        <MudText Typo="Typo.body1">
                            ApexCharts is a modern charting library that helps developers to create beautiful and interactive visualizations for web pages.
                        </MudText>
                    </div>
                </div>
            </MudCarouselItem>
            <MudCarouselItem Style="height: 100%" Transition="Transition.Fade">
                <div class="d-flex flex-row gap-9 ma-5 align-center">
                    <MudImage Src="Images/MudBlazor.png" Height="100" Width="100" />
                    <div class="d-flex flex-column">
                        <MudText Typo="Typo.h6" Style="font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none">MudBlazor</MudText>
                        <MudText Typo="Typo.body1">
                            MudBlazor is an ambitious Material Design component framework for Blazor with an emphasis on ease of use and clear structure.
                        </MudText>
                    </div>
                </div>
            </MudCarouselItem>
        </MudCarousel>
    </MudItem>
    <MudItem xs="12">
        <MudPaper Class="pa-4 ma-10" Style="background: linear-gradient(128.87deg,#d600aa 14.05%,#cb4150 89.3%);">
            <div class="d-flex flex-row justify-space-around">
                <MudText Typo="Typo.h4" Style="color:white; font-family: 'Space Grotesk'; font-style: normal; font-weight: 700; text-transform: none;">
                    Want to contact us?
                </MudText>
                <div class="d-flex gap-1 flex-column">
                    <MudText Style="color:white; font-family: 'Open Sans'; font-style: normal; font-weight: 600; text-transform: none;">writesd@hotmail.com</MudText>
                </div>
            </div>
        </MudPaper>
    </MudItem>
</MudGrid>

<style>
    .background {
        background-image: url(../Images/Background-gradient.svg), url(../Images/Background-waves.svg);
        background-repeat: no-repeat, no-repeat;
        background-position: top,bottom;
        background-size: cover, auto;
    }
</style>

@code {
    MudTheme MyCustomTheme = new MudTheme()
        {
            Typography = new Typography()
            {
                H3 = new H3()
                {
                    FontFamily = new[] { "Space Grotesk" },
                    FontWeight = 700,
                    FontSize = "2.25rem",
                }
                // H6 = new H6()
                // {
                //     FontFamily = new[] { "Roboto", "Helvetica", "Arial", "sans-serif" },
                //     FontSize = "1.25rem",
                //     FontWeight = 500,
                //     LineHeight = 1.6,
                //     LetterSpacing = ".0075em",
                // }
            }
        };

    public string DarkLightModeButtonIcon => IsDarkMode switch
    {
        true => Icons.Material.Rounded.DarkMode,
        false => Icons.Material.Outlined.LightMode,
    };

    private bool IsDarkMode { get; set; }

    private void DarkModeSwitched(MouseEventArgs args)
    {
        IsDarkMode = !IsDarkMode;
    }
}
